[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-environ = "*"
graphene = "*"
graphene-django = "*"
django-model-utils = "*"
"psycopg2" = "*"
uwsgi = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
"flake8" = "*"
